<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" href="data:;base64,=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
        {% if user.is_authenticated %}
        <h3>Hello {{user.name}}</h3>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
{% block body%} {% endblock %}
</body>
</html>